<header>
    <div class="header-container">
        <!-- Logos à gauche -->
        <div class="logo-group">
            <a href="https://www.meta.com" class="logo-link">
                <img src="{{ asset('images/header/meta.png') }}" alt="Logo Meta" class="logo-header">
            </a>
            <a href="https://www.instagram.com" class="logo-link">
                <img src="{{ asset('images/header/instagram.png') }}" alt="Logo Instagram" class="logo-header">
            </a>
            <a href="https://www.twitter.com" class="logo-link">
                <img src="{{ asset('images/header/twitter.png') }}" alt="Logo Twitter" class="logo-header">
            </a>
        </div>
        <!-- Logo de contact à droite -->
        <div class="logo-contact">
             <img src="{{ asset('images/header/contact1.png') }}" alt="Contactez-nous1">
            <a href="mailto:contact@example.com">
                <img src="{{ asset('images/header/contact2.png') }}" alt="Contactez-nous2">
            </a>
        </div>
    </div>
</header>